<header class="header lock-padding">
	<div class="container">
		<div class="top-line">
			<div class="top-line-logos">
				<a href="/html/" class="custom-logo-link">
					<img src="@img/inhaus-logo.png" alt="">
				</a>
			</div>
			<div class="top-line__menu-wrapper">
				<nav class="top-line__menu">
					<ul>
						<li class="menu-item current-menu-item">
							<a href="apie-mus.html">Apie mus</a>
						</li>
						<li class="menu-item">
							<a href="virtuves-baldai.html">Virtuvės baldai</a>
						</li>
						<li class="menu-item">
							<a href="3d-planavimas.html">3d planavimas</a>
						</li>
						<li class="menu-item">
							<a href="buitinė-technika.html">buitinė technika</a>
						</li>
						<li class="menu-item">
							<a href="ikvepimui-istorijos.html">įkvėpimui</a>
						</li>
						<li class="menu-item">
							<a href="ypatingi-pasiulymai.html">Ypatingi pasiūlymai</a>
						</li>
						<li class="menu-item">
							<a href="kontaktai.html">Kontaktai</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="hamburger desktop-hamburger">
				<div class="hamburger__line"></div>
				<div class="hamburger__line"></div>
				<div class="hamburger__line"></div>
			</div>
		</div>
	</div>
	<div class="mobile-menu">
		<div class="container">
			<div class="mobile-menu__top-line">
				<div class="top-line-logos">
					<a href="#" class="custom-logo-link">
						<img src="@img/inhaus-logo.png" alt="">
					</a>
				</div>
				<div class="hamburger mobile-hamburger opened">
					<div class="hamburger__line"></div>
					<div class="hamburger__line"></div>
					<div class="hamburger__line"></div>
				</div>
			</div>
			<div class="mobile-menu__social social">
				<a href="#" tabindex="0" class="social__item"><img src="@img/icons/facebook.svg" alt=""></a>
				<a href="#" tabindex="0" class="social__item"><img src="@img/icons/instagram.svg" alt=""></a>
				<a href="#" tabindex="0" class="social__item"><img src="@img/icons/pinterest.svg" alt=""></a>
			</div>
			<nav class="mobile-nav text-align-center mt-100">
				<ul>
					<li class="menu-item current-menu-item">
						<a href="apie-mus.html">Apie mus</a>
					</li>
					<li class="menu-item menu-item-has-children">
						<a href="virtuves-baldai.html">Virtuvės baldai</a>
						<ul class="sub-menu">
							<li class="menu-item">
								<a href="virtuves-baldai.html#concept130">concept130</a>
							</li>
							<li class="menu-item">
								<a href="virtuves-baldai.html#systemat">systemat</a>
							</li>
							<li class="menu-item">
								<a href="virtuves-baldai.html#faq">D.u.k</a>
							</li>
						</ul>
					</li>
					<li class="menu-item">
						<a href="3d-planavimas.html">3D planavimas</a>
					</li>
					<li class="menu-item">
						<a href="buitinė-technika.html">Buitinė technika</a>
					</li>
					<li class="menu-item">
						<a href="ikvepimui-istorijos.html">Įkvėpimui</a>
					</li>
					<li class="menu-item">
						<a href="ypatingi-pasiulymai.html">Ypatingi Pasiūlymai</a>
					</li>
					<li class="menu-item">
						<a href="kontaktai.html">Kontaktai</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
