body {
	min-width: 345px;
	font-family: "Ubuntu";
	font-weight: 400;
	font-size: 22px;
	line-height: calc(20 / 13);
	color: $colorDarkText;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
}
.container {
	max-width: $contentWidth;
	margin: 0 auto;
	padding: 0 30px;
}

/***********************************************************************************************************************
**	MARGINS CLASSES
***********************************************************************************************************************/

/***********************************************************************************************************************
**	WIDTH CLASSES
***********************************************************************************************************************/
