/***********************************************************************************************************************
**	COLORS VARIABLES
***********************************************************************************************************************/
/***********************************************************************************************************************
**	BREAKPOINT AND WIDTH VARIABLES
***********************************************************************************************************************/
.home-page {
  padding: 96px 0;
}

.home-page__intro {
  margin-bottom: 32px;
}

.intro {
  max-width: 640px;
  text-align: center;
}
.intro__subtitle {
  margin-bottom: 12px;
  font-size: clamp(18px, 24 / 1168 * 100vw, 24px);
  line-height: 1.0833333333;
  color: #1888FF;
}
.intro__title {
  margin-bottom: 22px;
  font-size: clamp(24px, 40 / 1168 * 100vw, 40px);
  line-height: 1.1;
}
.intro__info {
  font-size: clamp(16px, 22 / 1168 * 100vw, 22px);
  line-height: 1;
}

.preview-row:not(:first-child) {
  margin-top: 40px;
}
@media (min-width: 575.98px) {
  .preview-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }
}

@media (min-width: 575.98px) {
  .preview-row--type-1 .preview-row__item:first-child {
    min-width: calc(33.3333333333% - 12px);
    max-width: calc(33.3333333333% - 12px);
  }
}
@media (min-width: 575.98px) {
  .preview-row--type-1 .preview-row__item:last-child {
    min-width: calc(66.6666666667% - 12px);
    max-width: calc(66.6666666667% - 12px);
  }
}

@media (min-width: 575.98px) {
  .preview-row--type-2 .preview-row__item {
    min-width: calc(33.3333333333% - 16px);
    max-width: calc(33.3333333333% - 16px);
  }
}

@media (min-width: 575.98px) {
  .preview-row--type-3 .preview-row__item:first-child {
    min-width: calc(66.6666666667% - 12px);
    max-width: calc(66.6666666667% - 12px);
  }
}
@media (min-width: 575.98px) {
  .preview-row--type-3 .preview-row__item:last-child {
    min-width: calc(33.3333333333% - 12px);
    max-width: calc(33.3333333333% - 12px);
  }
}

@media (max-width: 575.98px) {
  .preview-row__item:not(:first-child) {
    margin-top: 15px;
  }
}
.preview-row__item-img {
  margin-bottom: 24px;
  display: block;
  line-height: 0;
}
.preview-row__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.preview-row__item-subtitle {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1;
  color: #537599;
}
.preview-row__item-title {
  font-size: clamp(18px, 24 / 1168 * 100vw, 24px);
  line-height: 1;
}
.preview-row__item-title > a {
  color: #1888FF;
}